---
// ResourceLayout with Tailwind CSS
interface Props {
  title: string;
  thumbnail: string;
  slug: string;
  description: string;
  author: string;
  publishDate: Date;
}

const { title, thumbnail, slug, description } = Astro.props;
---

<main class="mx-auto max-w-[calc(100vw-56.5rem)] px-4 py-8 sm:px-6 lg:px-8">
  <div class="mb-[5.5rem] overflow-hidden rounded-3xl">
    <img
      src={thumbnail}
      alt={`thumbnail-${slug}`}
      class="h-[25.44rem] w-full object-contain"
    />
  </div>
  <header class="mb-8 space-y-8">
    <h1 class="mb-4 text-center text-4xl font-semibold text-gray-900">
      {title}
    </h1>
    <p class="text-grey-200 text-base leading-7 font-light">{description}</p>
  </header>
  <article class="markdown-content">
    <slot />
  </article>
</main>
